@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    /* COLORS */
    --dark-blue: #231955;
    --light-blue: #1F4690;
    --dark-orange: #E8AA42;
    --light-orange: #FFE5B4;
    --text-animate: #191334;
    --section-text: #8C7C74;
    --section-text-animate: #7c6e67;

    /* FONT SIZE */
    --h0: 108px;
    --h1: 55px;
    --h2: 44px;
    --h3: 35px;
    --h4: 28px;
    --h5: 22px;
    --h6: 18px;
}






/* Navbar */

.navbar-container {
    width: 100%;
    backdrop-filter: blur(1rem);
    color: var(--light-orange);
    font-size: var(--h5);
    padding: 0.8rem 4.8rem;
    position: fixed;
    z-index: 1000;
}

.navbar-icon-box img {
    width: 5rem;
}

.navbar-text {
    padding: 0.2rem 0.5rem;
}

.navbar-text:hover {
    background-color: var(--light-orange);
    color: var(--dark-blue);
    transition-duration: 300ms;
}





/* Hero */

.hero-container {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-blue);
    font-size: var(--h3);
    font-weight: bolder;
    color: var(--light-orange);
    line-height: normal;
}

.hero-content {
    width: 85%;
    position: relative;
    top: 25rem;
    left: 9.6rem;
}

.hero-text {
    font-size: var(--h1);
    letter-spacing: 0.25rem;
}

.hero-text span {
    margin-bottom: 1.5rem;
}

@keyframes heroIconSlide {
    0% {
        transform: translateY(120%);
    }

    100% {
        transform: translateY(0);
    }
}

.hero-icon {
    overflow: hidden;
}

.hero-icon img {
    width: 25rem;
    animation: heroIconSlide 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

.animate-hero-text {
    animation: textHide 1ms linear forwards;
    animation-delay: 0.5s;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
}

.animate-hero-text::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--light-orange);
    animation: slide_new 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0s;
}







/* Section Name */

.section-name-container {
    width: 100%;
    height: 100vh;
    background-color: var(--light-orange);
}

.section-name-text {
    font-size: var(--h0);
    font-weight: bolder;
    letter-spacing: 2.5rem;
    text-transform: uppercase;
    color: var(--section-text);
}

.markSec1,
.markSec2 {
    width: 100%;
    background-color: var(--light-orange);
    height: 1px;
}

@keyframes slide_up {
    0% {
        top: 0;
        height: 0%;
    }

    50% {
        top: 0;
        height: 100%;
    }

    100% {
        top: 100%;
        height: 0%;
    }

}

/* @keyframes slide_up {
    0% {
        bottom: 0;
        height: 0%;
    }

    50% {
        bottom: 0;
        height: 100%;
    }

    100% {
        top: 100%;
        height: 0%;
    }
} */

.new-text {
    animation: textHide 1ms linear forwards;
    animation-delay: 0.5s;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
    overflow-y: hidden;
    color: var(--section-text);

}

.new-text::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--section-text-animate);
    animation: slide_up 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0s;
}









/* Project */

.project-container {
    width: 100vw;
    height: auto;
    background-color: var(--light-orange);
    color: var(--dark-blue);
}

.project-inner-box {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-orange);
}

.project-outer-box {
    width: 100vw;
    height: 105vh;
    background-color: var(--light-orange);
}




/* Project Details */

.project-details-conatiner {
    position: relative;
    width: 50vw;
    min-height: 100vh;
    height: auto;
    background-color: var(--light-orange);
    color: var(--dark-blue);
    padding: 9.6rem 1rem 1rem 4.8rem;
    line-height: normal;
    overflow-x: hidden;
}

.markUp,
.markDn {
    width: 100%;
    height: 1px;
    background-color: var(--light-orange);
    margin-bottom: 0.5rem;
}


.project-details-conatiner span {
    display: inline-block;
    padding: 0.3rem 0;
}

.project-number {
    font-size: var(--h3);
    font-weight: 600;
}

.project-details-content {
    position: absolute;
    top: 21.6rem;
    left: 8.2rem;
}

.project-wrapper-box {
    margin: 0;
    padding: 0;
    margin-bottom: 3.2rem;
}

.project-title {
    font-size: var(--h2);
    font-weight: bold;
}

.project-techstack {
    font-size: var(--h4);
}

.project-description {
    font-size: var(--h3);
    line-height: 110%;
}

.project-details-btn {
    margin-top: 6.4rem;
    width: 16rem;
    height: 7.2rem;
    font-size: var(--h5);
    background-color: var(--light-blue);
    color: var(--light-orange);
    transition-duration: 200ms;
}

.project-details-btn:hover {
    background-color: var(--dark-blue);
}

@keyframes textHide {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slide_new {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }

}

.animate-text {
    animation: textHide 1ms linear forwards;
    animation-delay: 0.5s;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
}

.animate-text::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text-animate);
    animation: slide_new 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

.project-images-container {
    position: relative;
    width: 50vw;
    min-height: 100vh;
    /* height: auto; */
    /* height:max-content; */
    background-color: var(--light-orange);
    color: var(--dark-blue);
    overflow-x: hidden;
}


@keyframes imageSlide1 {
    0% {
        transform: translateX(240%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes imageSlide2 {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(0%);
    }
}


.project-images-container img {
    display: inline-block;
    position: absolute;
}

.project-images-container #img1 {
    top: 30vh;
    left: 5rem;
    animation: imageSlide1 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

.project-images-container #img2 {
    top: 30vh;
    left: 35rem;
    animation: imageSlide2 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;

}







/* Project Details Right */

.project-details-content-right {
    position: absolute;
    top: 21.6rem;
    right: 8.2rem;
}

.text-align-right {
    text-align: right;
    padding-left: 1rem;
    padding-right: 4.8rem;
}

@keyframes slide_new_right {
    100% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    0% {
        left: 100%;
        width: 0%;
    }

}

.animate-text-right {
    animation: textHide 1ms linear forwards;
    animation-delay: 0.5s;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
}

.animate-text-right::after {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--text-animate);
    animation: slide_new_right 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

@keyframes imageSlideRight1 {
    0% {
        transform: translateX(-240%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes imageSlideRight2 {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(0%);
    }
}

.project-images-container-right {
    position: relative;
    width: 50vw;
    min-height: 100vh;
    background-color: var(--light-orange);
    color: var(--dark-blue);
    overflow-x: hidden;
}

.project-images-container-right img {
    display: inline-block;
    position: absolute;
}

.project-images-container-right #img1 {
    top: 30vh;
    left: 5rem;
    animation: imageSlideRight1 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

.project-images-container-right #img2 {
    top: 30vh;
    left: 35rem;
    animation: imageSlideRight2 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;

}










/* Project Images */

/* .project-images-container{
    position: relative;
    width: 50vw;
    min-height: 100vh;
    background-color: var(--light-orange);
    color: var(--dark-blue);
    overflow-x: hidden;
}


@keyframes imageSlide1 {
    0%{
        transform: translateX(240%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes imageSlide2 {
    0%{
        transform: translateX(120%);
    }
    100%{
        transform: translateX(0%);
    }
}


.project-images-container img{
    display: inline-block;
    position: absolute;
}

.project-images-container #img1{
    top: 30vh;
    left: 5rem;
    animation: imageSlide1 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;
}

.project-images-container #img2{
    top: 30vh;
    left: 35rem;
    animation: imageSlide2 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0;

} */





























/* practice */
.practice-container {
    padding: 3rem;
    width: 100%;
    height: 500rem;
    background-color: var(--light-orange);
    color: var(--dark-blue);
    font-size: var(--h1);
    overflow: hidden;
    /* border: 22px solid white; */

}

.practice-text-container {
    width: fit-content;
    padding: 0.3rem;
    color: var(--dark-blue);

    /* background-color: var(--dark-blue); */
}





@keyframes textHide {
    0% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes slide_n {
    0% {
        transform: translateX(-110%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(110%);
    }

}

/* @keyframes slide_new {
    0% {
        left: 0;
        width: 0%;
    }

    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0%;
    }

} */

/* @keyframes slide_up {
    0% {
        top: 0;
        height: 0%;
    }

    50% {
        top: 0;
        height: 100%;
    }

    100% {
        top: 100%;
        height: 0%;
    }

} */









.line {
    background-color: var(--dark-blue);
    width: 100%;
    height: 10px;
    margin-top: 120rem;
}

.line2 {
    background-color: var(--dark-blue);
    width: 100%;
    height: 10px;
    position: absolute;
    top: 1200px;
    left: 0px;
}

.btn {
    width: 5rem;
    height: 5rem;
    font-size: var(--h6);
    border: 2px solid red;
}



.new-text {
    animation: textHide 1ms linear forwards;
    animation-delay: 0.5s;
    position: relative;
    padding: 0.3rem;
    display: inline-block;
    overflow-y: hidden;
    color: var(--section-text);

}

.new-text::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: var(--section-text-animate);
    animation: slide_up 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 0s;
}







/* .outer{
    width: 100%;
    height: 300px;
    position: sticky;
} */

.img-container {
    margin-top: 50rem;
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;

    transform: translateX(100%);
}


.p-img {
    position: relative;
    height: 80%;
}


.prac-outer {
    width: 100%;
    height: 250vh;
    background-color: var(--light-orange);
    color: var(--dark-blue);
    font-size: var(--h3);
    padding: 3rem;
}


.prac-inner {
    width: 30%;
    height: 20vh;
    background-color: green;
    color: white;
    font-size: var(--h3);
    padding: 3rem;
}